* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #ffffff;
}

/**************************/
/*******  Header **/

/*************************/
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(resources/banner.jpg);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}
nav {
  position: sticky;
  padding-top: 32px;
}
.container img {
  height: 3rem;
  margin-top: 10px;
}

.ul-items {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  margin-top: -2rem;
}

.ul-items li {
  display: block;
  height: 2px;
  width: 115px;
  margin-left: 3px;
}

.ul-items li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.ul-items li a:hover {
  color: #b3d146;
  background-color: #2f2f35;
}
.ul-items-properties1 {
  margin-right: 10px !important;
}
.contacts-button {
  background-color: #b3d146;
}
.contacts-button:hover {
  color: white !important;
  background-color: #2f2f35;
}
.header-container-inner {
  position: relative;
  float: left;
  margin-top: 170px;
  padding-left: 33%;
}

.header-container-inner span {
  display: block;
  color: #ffff;
  font-size: 90px;
  font-weight: bolder;
  line-height: 73px;
  letter-spacing: 2px;
  text-align: right;
  font-family: "Playfair Display", serif;
}
.horizontal-line {
  height: 5px;

  background-color: #b3d146;
  background-size: cover;
}

section:nth-child(odd) {
  background-color: #181818;
}

section:nth-child(even) {
  background-color: #ffffff;
}

/**************************/
/******* About the company**/

/*************************/

.company-side-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 130px 0;
}

.size-box {
  height: 650px;
  width: 800px;
  gap: 1rem;
  /* background-color: white; */
  position: relative;
  padding: 60px 0 0 50px;
}

.think-title-positioning {
  display: block;
  width: 200px;
  height: 120px;
  margin-bottom: 100px;
}

.think-title-positioning span {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  line-height: 80px;
}
.title-h1 {
  position: relative;
  margin-bottom: 40px;
  font-size: 36px;
}
.para-cmp {
  font-size: medium;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.green-txt {
  color: #b3d146;
}

.slide-name {
  display: inline-block;
}

.slide-name a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
.slide-name a:hover {
  color: #b3d146;
}
.slide-btn {
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 250px;
}
.slide-btn a {
  display: inline-block;
  background-color: #181818;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  margin-left: 60px;
  margin-top: -1rem;
}

.btn-logo {
  padding: 6px 2px 1px 6px;
  /* padding-top: 10px;
  padding-left: 10px; */
  color: #b3d146;
  font-size: 2.5rem;
}
.slider {
  height: 720px;
  width: 720px;
  float: left;
  position: relative;
  margin-top: 40px;
}

.slider img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  /* opacity: 0; */
}

.active {
  opacity: 1;
}
